<header>
  <img alt="Github Logo" class="github-logo"
       src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
  Github Users List
</header>
<main>
  <div class="table-container">
    <div style="display: flex; width: 100%; margin-bottom: 1rem; justify-content: center">
      <div (click)="currentUser > 30 ? previousPage() : $event.preventDefault()" class="pag-btn active">
        Previous
      </div>
      <div (click)="!(userList.length < 30) ? nextPage(): $event.preventDefault()"
           class="pag-btn active">Next
      </div>
    </div>
    <br>
    <table>
      <tr>
        <th style="flex: .25">User ID</th>
        <th>Login</th>
        <th></th>
      </tr>
      <tr *ngFor="let user of userList">
        <td style="flex: .25">{{user.id}}</td>
        <td><a href="{{user.html_url}}" target="_blank">{{user.login}}</a></td>
        <td><a routerLink="/user/{{user.login}}/details" style="font-weight: bolder">More Info</a></td>
      </tr>
    </table>
  </div>

</main>
<footer>
  <a href="https://github.com/halkliff" style="float: right">
    Werberth Lins, C 2019
  </a>
</footer>
