* {
  box-sizing: border-box;
  font-family: Nunito, "Helvetica Neue", "Segoe UI", sans-serif;
  margin: 0;
  text-decoration: none;
  outline: none;
}

::-webkit-scrollbar {
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  background: transparent;
  overflow: visible;

  * {
    background-color: transparent;
  }
}

::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 0.25em;
  background-color: rgba(145, 145, 145, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(145, 145, 145, 1);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

p {
  font-size: 0.875em;
}

ul {
  list-style: none;
  position: relative;
}
